$scrollBarColor: orangered;
$fontColor: orangered;

$imageNotSelected: #777;
$imageSelected: orangered;

$contentBGColor: rgba(0, 0, 0, .5);
$contentFontColor: #fff;

$svgColor: #fff;

.main {
    max-width: 800px;
    margin: 0 auto;
}

p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 160%;
}

a {
    color: $fontColor;
    text-decoration: none;
    font-weight: bold;
}