$scrollBarColor: orangered;
$fontColor: orangered;

$imageNotSelected: #777;
$imageSelected: orangered;

$contentBGColor: #000;
$contentFontColor: #fff;

$svgColor: #fff;
$logoColor: yellow;

.main {
    max-width: 800px;
    margin: 2rem auto;
}

p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 160%;
}

a {
    color: $fontColor;
    text-decoration: none;
    font-weight: bold;
}