.main {
    width: 100vw;
    height: 100vh;
}

$topBarHeigth : 5rem;
$footerHeigth : 2rem;

.topBar,
.content,
.footer {
    padding-left: 2rem;
    padding-right: 2rem;
}

.topBar {
    height: $topBarHeigth;
}

.content {
    $paddingTop: 1rem;
    $paddingBottom: 1rem;
    height: calc(100% - $topBarHeigth - $footerHeigth - $paddingTop - $paddingBottom);
    padding-top: $paddingTop;
    padding-bottom: $paddingBottom;
    background-color: #ccc;
    overflow: auto;
}

.footer {
    height: $footerHeigth;
    background-color: beige;
}