<div class="menuHost">
    <button type="button" aria-label="Menu" aria-haspopup="menu" [attr.aria-expanded]="isOpen" class="buttonMenu"
        [ngClass]="{open:isOpen}" (click)="toggle($event)">
        <span class="material-icons" aria-hidden="true">more_horizontal</span>
    </button>

    <nav class="menuPanel" role="menu" *ngIf="isOpen">
        <a class="menuItem" role="menuitem" *ngFor="let item of menuItems" [routerLink]="item.link"
            (click)="select(item)">
            <span class="material-icons" aria-hidden="true">{{item.icon}}</span>
            <span>{{item.text}}</span>
        </a>
    </nav>
</div>
