@import "../../styles/variables.scss";

.buttonMenu {
    transition: all 1s;
    color: $fontColor;
    background-color: transparent;
}

.open {
    transform: rotate(-450deg);
    color: #000;
    background-color: $fontColor;
}